[Unit]
Description=Kanata for ThinkPad keyboard
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/thinkpad.kbd
Restart=on-failure

[Install]
WantedBy=default.target
