layout {
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            children
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="__TAB_NAME__" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane stacked=true {
                pane command="nvim" {
                }
                pane command="opencode" {
                }
            }
            pane stacked=true {
                pane name="Server" {
                }
                pane name="Shell" {
                }
                pane name="lazyjj" command="lazyjj" {
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
