layout {
    new_tab_template{
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            children
        }
        pane size=1 borderless=true {
           plugin location="status-bar"
         }
    }
    tab name="Code" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="nvim" {
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Assistant" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane command="opencode" {
      }
      pane size=1 borderless=true {
        plugin location="status-bar"
      }
    }
    tab name="Git" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane command="lazygit" {
      }
      pane size=1 borderless=true {
        plugin location="status-bar"
      }
    }
    tab name="Exec" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
