* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background-color: #223249; /* waveBlue1 */
  border: 2px solid #2d4f67; /* waveBlue2 */
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
}

#workspaces {
  background-color: #2a2a37; /* sumiInk2 */
  margin: 6px 0px 6px 6px;
  border: 2px solid #363646; /* waveSurface */
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 4px;
  color: #c8c093; /* oldWhite */
}

#workspaces button.focused {
  color: #dcd7ba; /* fujiWhite */
}

#workspaces button.urgent {
  background-color: #ff5d62; /* samuraiRed */
  color: #1f1f28;
}

#workspaces button.active,
#workspaces button.active:hover {
  background: #76946a; /* autumnGreen */
  color: #1f1f28; /* sumiInk1 */
}

#clock {
  background-color: #2a2a37; /* sumiInk2 */
  border: 2px solid #363646; /* waveSurface */
  color: #dcd7ba; /* fujiWhite */
}

#tray {
  background-color: #c8c093; /* oldWhite */
  border: 2px solid #a6a69c; /* stone */
}

#battery {
  background-color: #a6cc70; /* springGreen */
  border: 2px solid #a6a69c; /* stone */
  color: #1f1f28; /* sumiInk1 */
}

#cpu,
#memory,
#network,
#pulseaudio {
  background-color: #dcd7ba; /* fujiWhite */
  border: 2px solid #a6a69c; /* stone */
  color: #1f1f28; /* sumiInk1 */
}

#cpu.critical,
#memory.critical {
  background-color: #dcd7ba; /* fujiWhite */
  border: 2px solid #a6a69c;
  color: #c34043; /* lotusRed */
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #dcd7ba; /* fujiWhite */
  border: 2px solid #a6a69c;
  color: #c34043; /* lotusRed */
}
