/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #32302f;
  font-family: monospace;
  font-weight: bold;

  border-radius: 0;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #7c6f64;
  border: 1px solid #504945;
}

tabbar tabbox tab:selected {
  background-color: #a89984;
  color: #32302f;
}

tabbar tabbox tab label {
  font-size: 11px;
}
